<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!--prod settings-->
  <!--<appSettings>
   <add key="serverUrl" value="http://verzana-alp-api.azurewebsites.net/" />
    <add key="adminUserID" value="admin@thinkbridge.in" />
    <add key="adminPassword" value="Thinkbridge" />
    <add key="clientId" value="BB68F39B-46C9-4475-B0DE-DA0357DEFEF2" />
    <add key="grantType" value="password" />
    <add key="sitecodeStatusInterval" value="30" />
    <add key="crDuns" value="039471953" />
    <add key="empowerUrl" value="https://alp-uat.epway.com/restapi" />
    <add key="InvoiceSchedularWebJobUrl" value="https://verzana-alp-api.scm.azurewebsites.net" />
    <add key="InvoiceSchedularWebJobName" value="InvoiceScheduler" />
    <add key="InvoiceSchedularWebJobPublishProfileUserName" value="$verzana-alp-api" />
    <add key="InvoiceSchedularWebJobPublishProfilePassword" value="2MLprvXok7whCTuZ4KCMNrxy8dtZbiPanoB54jkfDjnBjP0M5AF7itAyXH9A" />
  </appSettings>-->
  <!--alpha settings for development-->
  <appSettings>
    <add key="serverUrl" value="http://localhost:27888/" />
    <add key="adminUserID" value="admin@thinkbridge.in" />
    <add key="adminPassword" value="Thinkbridge" />
    <add key="clientId" value="DD9AE591-7F80-471B-8C9C-02F4C179CB01" />
    <add key="grantType" value="password" />
    <add key="sitecodeStatusInterval" value="30" />
    <add key="crDuns" value="039471953" />
    <add key="empowerUrl" value="https://alp-uat.epway.com/restapi" />
    <add key="InvoiceSchedularWebJobUrl" value="http://verzana-texpo-api.azurewebsites.net/" />
    <add key="InvoiceSchedularWebJobName" value="InvoiceScheduler" />
    <add key="InvoiceSchedularWebJobPublishProfileUserName" value="$verzana-alpha-api" />
    <add key="InvoiceSchedularWebJobPublishProfilePassword" value="W1AyY5xt29atFa7vut9r76mNcBnpMjLvYe2rS276MZ4DRK6DznFelccsPjiq" />
    <add key="shouldFilter" value="N" />
    <add key="AccountKeys" value=""/>
    <add key="ReferenceAccountIds" value=""/>
    <add key="degreeOfParallelism" value="1"/>
    <add key="ReferenceInvoiceIds" value=""/>
  </appSettings>

  <connectionStrings>
    <!--debug-->
    <add name="AndelerCorpEntities" connectionString="metadata=res://*/AndelerCorpEntities.csdl|res://*/AndelerCorpEntities.ssdl|res://*/AndelerCorpEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:texpouat.southcentralus.cloudapp.azure.com,1433;initial catalog=Migrate_Texpo;User Id=epsinc;password=emP0wer2o!7TexpoUAT;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--deploy-->
    <!--<add name="AndelerCorpEntities" connectionString="metadata=res://*/AndelerCorpEntities.csdl|res://*/AndelerCorpEntities.ssdl|res://*/AndelerCorpEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Migrate_Texpo;persist security info=True;Integrated Security=SSPI;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
</configuration>
